@font-face {
	font-family: "Fractul ExtraBold";
	src: url("../fonts/Fractul-ExtraBold.otf");
}

@font-face {
	font-family: "Fractul Bold";
	src: url("../fonts/Fractul-Bold.otf");
}

@font-face {
	font-family: "Fractul Regular";
	src: url("../fonts/Fractul-Regular.otf");
}
