:root {
	--font-xxl: 8rem; // 128px;
	--font-xl: 6rem; // 96px
	--font-l: 4rem; // 64px
	--font-m: 2.25rem; // 36px
	--font-s: 1.5rem; //  24px
	--font-xs: 0.875rem; // 14px

	--white: #fff;
	--transparent-white: rgba(255, 255, 255, 0.1);
	--black: #181818;
	--transparent-black: rgba(0, 0, 0, 0.05);
	--yellow: #f6a21c;

	--border-radius: 10px;
	--border-radius-s: 5px;

	--font-face-xb: "Fractul ExtraBold";
	--font-face-b: "Fractul Bold";
	--font-face-r: "Fractul Regular";
}
