/* Box sizing rules */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    -webkit-text-decoration-skip: ink;
            text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        -webkit-animation-duration: 0.01ms !important;
                animation-duration: 0.01ms !important;
        -webkit-animation-iteration-count: 1 !important;
                animation-iteration-count: 1 !important;
        -webkit-transition-duration: 0.01ms !important;
                transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
@font-face {
    font-family: "Fractul ExtraBold";
    src: url("../fonts/Fractul-ExtraBold.otf");
}
@font-face {
    font-family: "Fractul Bold";
    src: url("../fonts/Fractul-Bold.otf");
}
@font-face {
    font-family: "Fractul Regular";
    src: url("../fonts/Fractul-Regular.otf");
}
:root {
    --font-xxl: 8rem;
    --font-xl: 6rem;
    --font-l: 4rem;
    --font-m: 2.25rem;
    --font-s: 1.5rem;
    --font-xs: 0.875rem;
    --white: #fff;
    --transparent-white: rgba(255, 255, 255, 0.1);
    --black: #181818;
    --transparent-black: rgba(0, 0, 0, 0.05);
    --yellow: #f6a21c;
    --border-radius: 10px;
    --border-radius-s: 5px;
    --font-face-xb: "Fractul ExtraBold";
    --font-face-b: "Fractul Bold";
    --font-face-r: "Fractul Regular";
    --cursor-default: url("../img/cursors/default.png"), default;
    --cursor-pointer: url("../img/cursors/pointer.png") 14 0, pointer;
}

:root {
    font-size: 16px;
}

html,
body {
    overflow-x: hidden;
    background-color: #efefef;
    font-family: var(--font-face-r), "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: var(--black);
    pointer-events: none;
    cursor: var(--cursor-default);
}

* {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}
*::-moz-selection {
    background-color: var(--yellow);
    color: var(--white);
}
*::selection {
    background-color: var(--yellow);
    color: var(--white);
}

a {
    white-space: nowrap;
    position: relative;
    text-decoration: none;
    color: currentColor;
    background-color: var(--transparent-black);
    padding: 6px 10px 5px 10px;
    border-radius: var(--border-radius-s);
    -webkit-transition: 200ms;
    transition: 200ms;
    cursor: var(--cursor-pointer);
}
a:hover {
    background-color: var(--yellow);
    color: var(--white);
    text-decoration: underline;
}
a.big {
    background-color: unset;
    font-size: var(--font-l);
    font-family: var(--font-face-xb);
    text-align: center;
}
a.big:hover {
    color: currentColor;
}
a.big:not(:last-of-type) {
    margin-bottom: 30px;
}

p a:hover {
    text-decoration: none;
}

.menu::-webkit-scrollbar,
p::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.25);
}

.button {
    height: 115px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: var(--border-radius);
    font-size: 1.5rem;
    background-color: var(--transparent-white);
    cursor: var(--cursor-pointer);
    -webkit-transition: 200ms;
    transition: 200ms;
    text-transform: capitalize;
    margin-bottom: 30px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}
.button:not(.button--selected):hover {
    opacity: 0.9;
}
.button--selected {
    background-color: var(--white);
    font-family: var(--font-face-b);
    pointer-events: none;
    background-image: url("../img/button-bg.png");
    background-size: 50%;
}

.sidebar {
    background-color: var(--black);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.sidebar > div {
    opacity: 0;
}
.sidebar__icon {
    height: 80px;
    width: 80px;
    border-radius: var(--border-radius-s);
    margin: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0.5;
    -webkit-transition: 200ms;
    transition: 200ms;
    cursor: var(--cursor-pointer);
}
.sidebar__icon:hover {
    background-color: var(--transparent-white);
}
.sidebar__icon--selected {
    pointer-events: none;
    background-color: var(--transparent-white);
    opacity: 1;
}

.loading, .welcome-splash {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: var(--yellow);
    overflow: hidden;
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: var(--font-face-xb);
    font-size: var(--font-xl);
    text-transform: capitalize;
    pointer-events: none;
}

.welcome-splash {
    width: 100%;
    z-index: 9999;
    pointer-events: auto;
}
.welcome-splash img {
    -webkit-transform: scale(0.8) rotate(5deg);
            transform: scale(0.8) rotate(5deg);
    opacity: 0;
}

.page-content {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 120px 0px 480px 0px 1fr;
    grid-template-columns: 120px 480px 1fr;
    gap: 0px 0px;
}
.page-content > div {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}

.menu {
    background-color: var(--yellow);
    height: 100%;
    overflow: auto;
}
.menu__submenu {
    opacity: 0;
    display: none;
    width: 100%;
    padding: 20px 40px;
    overflow-x: hidden;
}
.menu__heading {
    font-family: var(--font-face-xb);
    font-size: var(--font-l);
}
.menu__blurb {
    max-width: 320px;
    font-size: var(--font-xs);
    opacity: 0.5;
    line-height: 180%;
    margin-bottom: 50px;
}

.main {
    position: relative;
    background-color: var(--white);
    padding: 0 100px;
    overflow: auto;
    background-image: url("../img/bg.png");
}
.main__content {
    opacity: 0;
    display: none;
    max-width: 900px;
    margin: 0 auto;
}
.main__content p {
    font-size: var(--font-m);
    line-height: 185%;
    text-align: justify;
    overflow: auto;
}
.main--full {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
}
.main [data-section=who] h1 {
    max-width: 550px;
    font-size: var(--font-xxl);
    font-family: var(--font-face-xb);
    line-height: 100%;
    margin-bottom: 25px;
}
.main [data-section=who] h2 {
    margin-left: 10px;
    font-size: var(--font-s);
    opacity: 0.7;
}

[data-section=project] h1 {
    margin-top: 90px;
    font-family: var(--font-face-xb);
    font-size: var(--font-xl);
    line-height: 100%;
}
[data-section=project] h2 {
    font-size: var(--font-xs);
    opacity: 0.3;
    margin-left: 5px;
    margin-bottom: 30px;
}
[data-section=project] h2 a {
    background-color: unset;
    padding: 0;
    margin-left: 5px;
}
[data-section=project] h2 a::before {
    content: "";
    display: inline-block;
    height: 5px;
    width: 5px;
    background-color: currentColor;
    border-radius: var(--border-radius);
    margin: 0 5px 2px 0;
}
[data-section=project] h2 a:hover {
    color: currentColor;
    text-decoration: underline;
}
[data-section=project] h3 a {
    display: block;
    background-color: unset;
    margin: 90px 0;
    text-align: center;
    font-size: var(--font-l);
    font-family: var(--font-face-xb);
}
[data-section=project] h3 a:hover {
    color: currentColor;
}
[data-section=project] img {
    margin-bottom: 10px;
}
[data-section=project] img + h2 {
    margin-bottom: 45px;
}
[data-section=project] p {
    margin-bottom: 30px;
}
[data-section=project] *:not(img) {
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
}

@media (max-width: 1680px) {
    :root {
        font-size: 12px;
    }

    .page-content {
        -ms-grid-columns: 100px 400px 1fr;
        grid-template-columns: 100px 400px 1fr;
    }

    .sidebar__icon {
        height: 70px;
        width: 70px;
    }
    .sidebar__icon img {
        height: 28px;
    }
}
@media (max-width: 1360px) {
    .main {
        padding: 0 50px;
    }

    [data-section=project] .big {
        font-size: var(--font-m);
    }
    [data-section=project] .big::before {
        height: 4px;
    }
}
@media (max-width: 1155px) {
    .page-content {
        -ms-grid-columns: 100px 350px 1fr;
        grid-template-columns: 100px 350px 1fr;
    }

    [data-section=project] .big {
        font-size: calc(var(--font-s) * 1.25);
    }
}
@media (max-width: 1080px) {
    :root {
        font-size: 16px;
        --font-xxl: 3.75rem;
        --font-xl: 2.5rem;
        --font-l: 2rem;
        --font-m: 1rem;
        --font-s: 0.875rem;
        --font-xs: 0.625rem;
    }

    .page-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .sidebar {
        height: 80px;
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    }
    .sidebar__icon {
        height: 55px;
        width: 55px;
        margin: 0 20px;
    }
    .sidebar__icon img {
        height: 22px;
    }

    .menu {
        max-height: 215px;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }
    .menu__blurb {
        max-width: 360px;
        margin-bottom: 20px;
        font-size: var(--font-xs);
    }
    .menu__submenu {
        padding: 20px;
    }

    .main {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        padding: 20px;
    }
    .main__content p {
        line-height: 200%;
    }
    .main [data-section=who] h1 {
        margin-bottom: 5px;
    }

    .button {
        width: unset;
        height: 50px;
        padding: 0 15px;
        margin-right: 20px;
        margin-bottom: 0px;
        font-size: var(--font-m);
    }

    [data-section=project] h1 {
        margin-top: 25px;
    }
    [data-section=project] img + h2,
[data-section=project] p {
        margin-bottom: 25px;
    }

    .splide__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}