.menu {
	background-color: var(--yellow);
	height: 100%;
	overflow: auto;
	&__submenu {
		opacity: 0;
		display: none;
		width: 100%;
		// outline: 1px dashed red;
		padding: 20px 40px;
		overflow-x: hidden;
	}
	&__heading {
		font-family: var(--font-face-xb);
		font-size: var(--font-l);
	}
	&__blurb {
		max-width: 320px;
		font-size: var(--font-xs);
		opacity: 0.5;
		line-height: 180%;
		margin-bottom: 50px;
	}
}
